<footer>
  <a class="a" href="/" style="text-decoration: none;">@CCI CONNECTIONS</a>
&emsp;
<a class="a" href="/about" style="text-decoration: none;">ABOUT</a>
&emsp;
<a class="a" href="/contactus" style="text-decoration: none;">CONTACT</a>
&emsp;
<a  class="a" href= "https://www.facebook.com/"> <img src="/images/fb.png" width="20" class = "logos" alt="fb image"></a>
<a class="a" href= "http://twitter.com/"> <img src="/images/twitter.png" width="20" class = "logos" alt="twitter image"></a>
</footer>
</body>
</html>