<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- <style>
      body {
         background-image: url("/images/back.jfif");
      }
   </style> -->
    <title>UNCC Esports </title>
    <link href="/css/style.css" rel="stylesheet">
</head>
  <body>
    <header class="banner">
      <h1><a href= "/"> <img src="/images/sport.Png" width="120"   alt="CCI image" id = "cciimage"></a>
			<a  href="/" style="text-decoration: none;" id = "mainh">U&nbsp;N&nbsp;C&nbsp;C  &nbsp; E-Sports</a>
			<a  href="/connections/newconnection" style="text-decoration: none;" id="startaconnection">Start a connection</a>
		  <a   href="/Connections" style="text-decoration: none;" id= "registration">Log in</a>
		  |
		  <a  href="/Connections" style="text-decoration: none" id= "registration2">Sign up</a>
		  
	  </h1>
    </header>
	<nav > <a href="/connections" style="text-decoration: none;" id = "connectionlink">Connections</a>
    </nav>