@charset "UTF-8";
/* 
article, aside, footer, header, main, nav, section {
  display: block;
}
 */
html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
  padding: 0;
  margin: 0;
  font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: rgb(75,0,130);
 
}


.banner {
	width: 100%;
position: absolute;
font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
background-color: rgb(75,0,130);
 color: rgb(147,112,219);
padding-top:10px;
padding-bottom:5px;
  /* width:160%;
  
  top:-15px;
  padding:3px 12px; */  
}

.connart1{
	margin-left:400px;
	margin-top:200px;
	
}

.connart{
	margin-left:300px;
	margin-top:200px;
	color:balck;
}

.fill{margin-left:300px;
	margin-top:200px;}

.links{color:black}

.fill input{

	clear: both;
	width:50%;
	margin-right : 450px;
	float:right;
}

body {
	width:100%;
	height:100%;
  	position:absolute;
	font-family: Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  
}

a{color:white;}

section{
	margin-top: 200px;
	margin-left: 100px;
}
.content {
	
	margin-top: 200px;
	margin-left: 100px;
	padding-left: 20px;
	padding-top: 20px;
  }


nav{	
position: relative;
top:99.5px;
background-color:black;
padding: 10px 0px;
color: rgb(147,112,219);}

/* table {
  border: 1px solid black;
  border-collapse: collapse;
 text-align:bottom
} */
#first{
border-bottom: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
  border-collapse: collapse;
 text-align: center;}
 
 #last{
border-left: 1px solid black;
border-right: 1px solid black;
  border-collapse: collapse;
 text-align: center;}
 
th{border-left: 1px solid black;
border-right: 1px solid black;
  border-collapse: collapse;}

  #black{
margin-bottom:10px;
margin-top:30px;background-color:black;color:white;}
#mainh{margin-left:350px;color: rgb(147,112,219);font-size: 40px;}
#mainh{margin-left:350px;color: rgb(147,112,219);font-size: 40px;}
#cciimage{margin-left:10px;}
#startaconnection{margin-left:200px;font-size: 22px;color: rgb(147,112,219);}
#registration{margin-left:50px;color: rgb(147,112,219);font-size: 22px;	}
#registration2{color: rgb(147,112,219);font-size: 22px;	}
#connectionlink{margin-left:10px;color: rgb(147,112,219);font-size: 17px;}
.logos{background-color:white;border-radius: 50%;float:right;margin-right:10px;}
/* #yes{float:right;margin-bottom:120px;margin-top:-5px;background-color:black;color:white;border:None;font-size: 16px;padding: 4px 8px;} */
#No{float:right;margin-bottom:120px;margin-top:-5px;background-color:black;color: rgb(147,112,219);border:None;font-size: 16px;padding: 4px 8px;}
#maybe{float:right;margin-bottom:120px;margin-top:-5px;background-color:black;color: rgb(147,112,219);border:None;font-size: 16px;padding: 4px 8px;margin-right:250px;} */
#normniner{ margin-left: 200px;
  margin-right: auto;}
.a{color: rgb(147,112,219);}

footer {
		clear: both;
	    position: absolute;
		font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
		font-size: 13px;
		bottom: 0;
		width: 100%;
		padding-bottom:5px;
		padding-top:5px;
		background-color: black;
		color: rgb(147,112,219);
}