<%- include('./partials/header.ejs')%>
<main>
	<section class="article">
	<h2 >About UNCC Esports Club</h2>
	<article >
	<h2 >&nbsp;</h2>
	<p> This website helps you to connect with fellow gamers by hosting the gaming Events!<p>
	</article>
	</section>
	</main>

<%- include('./partials/footer.ejs')%>