<%- include('./partials/header.ejs')%>
<main>
	<section class="article">
	<h2 >COntact us  @UNCC Esports Club</h2>
	<article >
	<h2 >&nbsp;</h2>
	<h3> For any issues with this website , please send us a mail at vkhander@uncc.edu <h3>
	</article>
	</section>
	</main>

<%- include('./partials/footer.ejs')%>