<%- include('./partials/header.ejs')%>
	<main>
	<section class="article">
	<h2 >Welcome to UNCC Esports Club</h2>
	<article >
	<h2 >&nbsp;</h2>
	<p> This club is dedicated to esport lovers. We talk about the gaming strategies and also review major esport matches.<br/> We are also trying to form good teams for Moba and FPS games.We play Valorant,CS,LOl,DOTA and Fortnite</p>
	<p>Check out Connectios section to browse available gaming events!</p>
	</article>
	</section>
	</main>
	<%- include('./partials/footer.ejs')%>